/* Para todos os itens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* As bordas e preenchimentos serão inclusos dentro da largura e altura */
}

body {
    display: flex; /* torna flexíveis os itens do corpo */
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eff7f6;
}

/* calculadora */
.calculator {
    width: 300px;
    background-color: #f2b5d4;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #776e7283;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; /* qualquer parte do conteúdo que ultrapassar o limite do elemento será cortada e não aparecerá, sem a possibilidade de rolar para visualizar essa parte */
}

/* resultado da operação */
.result { 
    height: 75px;
    padding: 20px;
    text-align: right;
    color: white;
    font-size: 2.5rem;
}

/* botões */
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr); /* define quantas colunas o grid deve ter (no caso, 4) e divide o valor disponível por fração (no caso, 1 fração) */
    grid-gap: 2px; /* define o espaçamento entre linhas e colunas no grid */
}

/* para cada botão */
.buttons button {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    font: 1.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-zero {
    grid-column: span 2; /* 'span' significa que o botão zero vai "cobrir/pegar" 2 colunas */
}

.bg-gray {
    background-color: #F3E7EB;
}

.bg-light-gray {
    background-color: #f5c5da;
}

button:active { /* quando o botão estiver ativo (se o botão for clicado)...*/
    opacity: 0.6;
}

.bg-orange {
    background-color: #fed1e3;
}